*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    background: linear-gradient(#3AB4F2, #C1EFFF);
    width: 100%;
    height: 500px;
    border: 3px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 888;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
    z-index: 999;
}

.mario{
    position: absolute;
    width: 150px;
    bottom: 0;
    z-index: 999;
}

.cloud1{
    position: absolute;
    width: 320px;
    right: 50px;
    animation: clouds1 15s infinite linear;
}

.cloud2{
    position: absolute;
    width: 400px;
    right: 350px;
    top: 50px;
    animation: clouds2 20s infinite linear;
}

.ground{
    position: absolute;
    background: linear-gradient(#5BB318, #A27B5C);
    z-index: 990;
    bottom: 0;
    width: 100%;
    height: 20px;
}

.jump {
    animation: jump-mario 1s ease-out;
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump-mario {
    0%{
        bottom: 0;
    }

    30%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    55%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes clouds1 {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes clouds2 {
    from {
        right: -400px;
    }
    to {
        right: 100%;
    }
}